html {}

body {
    font-family: Quicksand;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;

}


p {}


ul {
    font-size: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a,
.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;

}

li a:hover,
.dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}



.input {
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
}

.padding-16 {
    padding-top: 16px!important;
    padding-bottom: 16px!important;
}

.container {
    padding: 0.03em 56px
}

.padding-64 {
    padding-top: 64px!important;
    padding-bottom: 64px!important;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: red;
    border: none;
    color: #FFFF;
    text-align: center;
    font-size: 28px;
    padding: 9px;
    width: 180px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {

    content: '\22D9';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 20px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.bio {
    font-size: 20px;
    margin: 30px;
    padding: 10px 200px;

}

.bestacito {
    font-family: Cookie;
    font-size: 60px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

.sogood {
    font-family: Cookie;
    font-size: 29px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

form {

    margin: 20px auto;
}



button {
    background-color: red;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.7;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}



.container16 {
    padding: 16px 200px
}

input {
    overflow: visible;
    font: inherit;
}

.login input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.wallpaper {
    position: absolute;
    max-width: 100%;
    height: auto;
}
